body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #ffffff;
    color: rgb(9, 9, 9);
    padding: 1rem;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

/* Sobre Mim */
#sobre {
    padding: 40px;
    background-color: #f1f1f1;
    text-align: center;
    background-image: url('imagens/grafico-barras.png'), url('imagens/grafico-dispersao.png'), url('imagens/grafico-linha.png');
    background-size: 150px 150px;
    background-position: top left, top right, bottom left;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
  }
  
  #sobre h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  #sobre p {
    font-size: 1.1rem;
    margin-bottom: 40px;
  }
  
  .scroll-section {
    min-height: 100vh; /* Cada seção ocupará a altura da tela */
    padding: 40px;
    color: white;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  /* Cores diferentes para cada seção */
  #sobre {
    background-color: #3498db;
  }
  
  #projetos {
    background-color: #2ecc71;
  }
  
  #contato {
    background-color: #e74c3c;
  }
  
  /* Quando a seção estiver visível */
  .scroll-section.visible {
    opacity: 1;
  }
  

  
  footer {
    text-align: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  