body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #ffffff;
    color: rgb(9, 9, 9);
    padding: 1rem;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .scroll-section {
    min-height: 100vh; /* Cada seção ocupará a altura da tela */
    padding: 40px;
    color: white;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  /* Cores diferentes para cada seção */
  #sobre {
    background-color: #3498db;
  }
  
  #projetos {
    background-color: #2ecc71;
  }
  
  #contato {
    background-color: #e74c3c;
  }
  
  /* Quando a seção estiver visível */
  .scroll-section.visible {
    opacity: 1;
  }
  
  footer {
    text-align: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  