/* Seção inicial */
.containerContact {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #06313f;
}

/* Conteúdo da seção */
.contentContact {
  display: flex;
  width: 95%;
  height: 70%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-image: linear-gradient(to bottom, #124b5e, #06313f, #06313f, #0b3e4e, #124b5e);
  border-radius: 20px;
}

.containerPhone {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerTextPhone {
  display: flex;
  flex-direction: row;
}

.logoPhone {
  width: 25px;
  height: 25px;
}

.textPhoneText {
  color: #FFF;
  font-size: 20px;
  font-weight: lighter;
}

.textPhone {
  margin-top: 5%;
  color: #FFF;
  font-weight: lighter;
  font-size: 20px;
}

.containerEmail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerTextEmail {
  display: flex;
  flex-direction: row;
}

.logoEmail {
  width: 25px;
  height: 25px;
}

.textEmailText {
  color: #FFF;
  font-size: 20px;
  font-weight: lighter;
}

.textEmail {
  margin-top: 5%;
  color: #FFF;
  font-weight: lighter;
  font-size: 20px;
}

.textCopright {
  color: #FFF;
  font-weight: lighter;
  font-size: 20px;
  margin-right: 5%;
}

@media (max-width: 1150px) {
  .logoPhone {
    width: 20px;
    height: 20px;
  }
  .textPhoneText {
    font-size: 15px;
  }
  .textPhone {
    font-size: 15px;
  }
  .logoEmail {
    width: 20px;
    height: 20px;
  }
  .textEmailText {
    font-size: 15px;
  }
  .textEmail {
    font-size: 15px;
  }
  .textCopright {
    font-size: 15px;
  }
}

@media (max-width: 1000px) {
  .logoPhone {
    width: 15px;
    height: 15px;
  }
  .textPhoneText {
    font-size: 12px;
  }
  .textPhone {
    font-size: 12px;
  }
  .logoEmail {
    width: 15px;
    height: 15px;
  }
  .textEmailText {
    font-size: 12px;
  }
  .textEmail {
    font-size: 12px;
  }
  .textCopright {
    font-size: 12px;
  }
}


@media (max-width: 750px) {
  .containerContact {
    height: 20vh;
  }

  .contentContact {
    flex-direction: column-reverse;
    align-items: center;
  }

  .containerPhone {
    margin-left: 0%;
  }

  .logoPhone {
    width: 20px;
    height: 20px;
  }

  .textPhoneText {
    font-size: 15px;
  }

  .textPhone {
    font-size: 15px;
  }

  .logoEmail {
    width: 20px;
    height: 20px;
  }

  .textEmail {
    font-size: 15px;
  }

  .textEmailText {
    font-size: 15px;
  }

  .textCopright {
    font-size: 15px;
    margin-right: 0%;
  }
}
@media (max-width: 480px) {
  .containerContact {
    height: 20vh;
  }

  .contentContact {
    flex-direction: column-reverse;
    align-items: center;
  }

  .containerPhone {
    margin-left: 0%;
  }

  .logoPhone {
    width: 15px;
    height: 15px;
  }

  .textPhoneText {
    font-size: 12px;
  }

  .textPhone {
    font-size: 12px;
  }

  .logoEmail {
    width: 15px;
    height: 15px;
  }

  .textEmail {
    font-size: 12px;
  }

  .textEmailText {
    font-size: 12px;
  }

  .textCopright {
    font-size: 12px;
    margin-right: 0%;
  }
}