.containerProjects {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #06313f;
}

.contentProjects {
  display: flex;
  width: 95%;
  height: 90%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  flex-direction: row;
  background-image: linear-gradient(to bottom, #06313f, #06313f, #06313f, #0b3e4e, #124b5e);
}

.containerSlide {
  width: 45%;
  height: 80%;
  display: flex;
  align-items: center;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.slideItem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerDescProject {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.titleDescProject {
  color: #FFF;
  font-size: 35px;
}

.textDescProject {
  margin-top: 5%;
  color: #FFF;
  font-size: 20px;
}

.divider {
  margin-top: 2%;
  border: none;
  height: 2px;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.titleImageTecnologycs {
  margin-top: 1%;
  color: #FFF;
  font-size: 20px;
}

.containerImagesTecnologycs {
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.imageTecnologycs {
  border-radius: 50px;
  max-width: 30px;
  height: auto;
  max-height: 80%;
  transition: transform 0.3s ease, filter 0.3s ease;
}
/* Efeito ao passar o mouse */
.imageTecnologycs:hover {
  transform: scale(1.3);
}

.containerImagesTecnologycs:hover .imageTecnologycs {
  filter: brightness(0.5); 
}

.containerImagesTecnologycs:hover .imageTecnologycs:hover {
  filter: brightness(1.2) drop-shadow(0 0 10px rgba(255, 255, 255, 0));
}


@media (max-width: 750px) {
  .contentProjects {
    justify-content: flex-start;
    width: 90%;
  }

  .contentProjects {
    flex-direction: column;
  }

  .containerSlide {
    margin-top: 2%;
    width: 70%;
    height: 35%;
  }

  .titleDescProject {
    font-size: 20px;
  }

  .textDescProject {
    color: #FFF;
    font-size: 12px;
  }

  .containerDescProject {
    width: 90%;
  }

  .titleImageTecnologycs {
    font-size: 15px;
  }

  .imageTecnologycs {
    max-width: 20px;
    max-height: 60%;
  }
}